.main {
  padding: 20px;
  overflow: hidden;
}

.section1,
.section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  font-size: 20px;
}

.show {
  font-size: 18px;
}

.heading {
  font-size: 44px;
  font-weight: 600;
  font-style: italic;
}

.text {
  font-size: 18px;
}
